
table {
        margin-bottom: 50px;
}

table, td {
        border: 1px solid black;
        border-collapse: collapse;
}

td {
        width: 100px;
}



.center{
        text-align: center;
}

.right{
        text-align: right;
}

/*exercicio 2 */

/*
table,td {
        border: 1px solid black;
        border-collapse: collapse;
}

td {
    width: 100vw;
}

.center {
        text-align: center;
}

tr{
    width: 1000px;
}
*/

/*exercicio 3*/

/*
table {
        margin-bottom: 50px;
        }

table,td {
        border: 2px solid black;
        border-collapse: collapse;
        }

td {
        width: 100px;
        height: 100px;
        }    

.center {
        text-align: center;
        }
*/